include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
recursive-include docs *.md
recursive-include examples *.py *.md *.fem *.png
recursive-include tests *.py *.fem *.txt
